.header
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 16px
  min-height: 50px
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75)
  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75)
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75)
  .user-name
    p
      span
        display: inline-flex
        align-items: center
        justify-content: center
        width: 33px
        height: 33px
        border-radius: 50%
        background: #F5F7FA
        font-weight: bold
        margin: 0 10px
